*{
	padding: 0;
	margin: 0;
}
body{
	background: orange;
}
h1{
	text-align: center;
	background: blue;
	color: black;
	padding: 30px;
}
h2{
	font size: 300%;
	border: 3px solid green;
	text-align: center;
	width: 70%;

}